

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;

}

/* Navigation */

.navigation .nav-container{
    display: grid;
    width: 100%;
    margin: auto;
    border: 1px solid black;
    max-height: 5rem;
    min-height: 4.5rem;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: black;
    align-items: center;
    max-height: 100px;

}

.nav-container a{
    text-decoration: none;
    margin: 1.2rem;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    
}



/*

.nav-container .skate-container {
    width: 300px;

    position: relative;
}

@keyframes skate {
    0% {left: 0px;}
    25% {left: 105px;}
    50% {left: 210px;}
    75% {left: 105px;}
    100% {left: 0px;}
}

.nav-container .skate-container img{
    max-height: 2rem;
    max-width: auto;
    position: relative;
    animation-name: skate;
    animation-duration: 10s;
    animation-delay: 5s;
    animation-timing-function: linear;

}

*/



.nav-container a:hover{
    color:slategray;
}


.nav-container ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-self: left;
    white-space: nowrap;
    
}


.nav-container img{
    height: 100%;
    width: auto;
}

.nav-container .search-box{
    justify-self: right;
    margin-right: 1rem;
}

.search-box input{
    height: 1.5rem;
    width: 10rem;
    position: relative;
    outline: none;
   
}
.search-box{
    
    display: inline-flex;
    position: relative;

}


.search-box .form-submit{

    outline: none;
    border: none;
    right: .1rem;
    height: 1.3rem;
    width: 1.3rem;
    position: absolute;
    top:10%;

}

/* Main Template */

.main .main-container{
    min-width: 98%;
    min-height: 180vh;
    max-height: 180vh;
    display: grid;
    margin: 5px;
    grid-gap: 0.4rem;
    grid-template-areas: 
    'first first first first'
    'second second third fourth'
    'fifth sixth sixth fourth'
    "seven eight nine nine";
}



/* Main Sections */

.main-container .first{
    grid-area: first;
    background: url('photos/first.jpg') no-repeat center center/cover;
    filter: grayscale(100%);
}

.main-container .first:hover{
    filter: grayscale(0%);
}

.main-container .second{
    grid-area: second;
    background: url('photos/second.jpg') no-repeat center center/cover;
    filter: grayscale(100%);
}

.main-container .second:hover{
    filter: grayscale(0%);
}

.main-container .third{
    grid-area: third;
    background: url('photos/third.jpg') no-repeat center center/cover;
    filter: grayscale(100%);
}

.main-container .third:hover{
    filter: grayscale(0%);
}

.main-container .fourth{
    grid-area: fourth;
    background: url('photos/fourth.jpg') no-repeat center center/cover;
    filter: grayscale(100%);
}

.main-container .fourth:hover{
    filter: grayscale(0%);
}

.main-container .fifth{
    grid-area: fifth;
    background: url('photos/fifth.jpg') no-repeat center center/cover;
    filter: grayscale(100%);
}

.main-container .fifth:hover{
    filter: grayscale(0%);
}

.main-container .sixth{
    grid-area: sixth;
    background: url('photos/sixth.jpg') no-repeat center center/cover;
    filter: grayscale(100%);
}

.main-container .sixth:hover{
    filter: grayscale(0%);
}

.main-container .seven{
    grid-area: seven;
    background: url('photos/eight.jpg') no-repeat center center/cover;
    filter: grayscale(100%);
}

.main-container .seven:hover{
    filter: grayscale(0%);
}

.main-container .eigth{
    grid-area: eight;
    background: url('photos/last.jpg') no-repeat center center/cover;
    filter: grayscale(100%);
}

.main-container .eigth:hover{
    filter: grayscale(0%);
}

.main-container .nine{
    grid-area: nine;
    background: url('photos/nine.jpg') no-repeat center center/cover;
    filter: grayscale(100%);
}

.main-container .nine:hover{
    filter: grayscale(0%);
}


/* Overlay */


.main-container h2{
    font-size: 2.2rem;
    color: white;
    text-shadow: 1px 1px black;
    text-transform: uppercase;
    cursor: pointer;
}

.main-container .btnMain{
    background-color: white;
    height: 2.5rem;
    width: 12rem;
    font-size: 1rem;
    box-shadow: 1px 1px black;
    outline: none;
}



.main-container .overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    opacity: 0;
}


.main-container .overlay:hover{
    opacity: 100;
}



/* Footer */

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}


.footer-container p{
    font-size: 12px;
    color: 	#383838;
    font-weight: 100;
}

.bottom-links{
    margin-right: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 9rem;
}

.bottom-links a{
    text-decoration: none;
    color: black;
    margin: 1.4rem;
    
}

.bottom-links a:hover{
    color:coral;
}


.item-links a{
    color: black;
    text-decoration: none;
}

.copy-tag{
   margin-top: 1.5rem;
   margin-bottom: 1.5rem; 
}

/* Address */

.floating-address{
    margin: auto;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    height: 3rem;
    padding: auto;
    position: fixed;
    bottom: 0;
    background-color: white;
    
}

.floating-address p{
    font-size: 12px;
    color: #d4d4d4;
    font-weight: 200;
    vertical-align: middle;
    line-height: 3rem;

}

.floating-address a{
    text-decoration: none;
}

.floating-address p:hover{
    color: slategray;
}

/* DropDown 1 */


.dropdown-content{
   background-color:white;
   min-height: 38vh;
   max-height: 38vh;
   width: 100%;
   position: absolute;
   display: flex;
   flex-direction: row;
   z-index: -1;
   overflow: hidden;
   justify-content: space-evenly;
   align-items: center;
   
}

.dropdown-content a{
    outline: none;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin: 2px;
    color:white;
    margin-top: 10px;
    text-transform: uppercase;

}

.dropdown-content img{
    margin: 10px 10px;
    max-width: 16rem;
    max-height: 12rem;
    padding: 6px;
    border: 1px solid white;
}

.dropdown-content img:hover{
    border:1.5px solid ghostwhite;
    opacity: 90%;
}

.dropdown-content h5{
    color: white;
    margin-left: 10px;
}

.dropdown-content a:hover{
    color: slategray;
}

.dropdown-content .dropdown-links{
    display: flex;
    flex-direction: column;
    margin-left: 8rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;

}



.dropdown-content h5:hover{
    color: slategray;
}


/* DropDown 2 */

.dropdown-brands{
    background-color:white;
    min-height: 38vh;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    max-height: 38vh; 
    z-index: -2;
    overflow: hidden;
    justify-content: space-evenly;
    position: absolute;
    
 }

.dropdown-brands .brand-links{
    width: 30%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    left: -100px;
    margin: 10px;
}

 .dropdown-brands a{
    outline: none;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin: 3px;
    color:black;
    margin-top: 10px;
    text-transform: uppercase;
    color: white;
}

.dropdown-brands a:hover{
    color: slategray;
}


@media(max-width:900px){


    .nav-container .search-box{
        display: none;
    }
    
    .main .main-container{
        grid-template-areas: 
        'first first first first'
        'second second third third'
        'fourth fourth  fifth fifth'
        'sixth sixth seven seven'
        'eight eight nine nine';
    }

    .dropdown-brands a{
        font-size: 10px;
        font-weight: 300;
        margin: .3rem;
        
    }

    .dropdown-content a{
        font-size: 10px;
        font-weight: 300;
        text-align: left;
        }
    
    .dropdown-content{
            justify-content: left;
            min-height: 28vh;
            max-height: 28vh;
     
    }

    .dropdown-brands{
        min-height: 28vh;
        max-height: 28vh;
    }

    .nav-container a{
        font-size: 10px;
        margin: .5rem;
    }

    .bottom-links{
        display: flex;
        flex-direction: column;
        margin-top: .5rem;
    }
    
    .bottom-links a{
        text-decoration: none;
        color: black;
        margin: 6px;
        font-size: 13px;
        font-weight: 400;
        
    }


}

@media(max-width:600px){
    .main .main-container{
        grid-template-areas:
        'first first'
        'second third'
        'fourth fifth'
        'sixth seven'
        'eight eight'
        'nine nine'
    }

  

    .dropdown-shirts{
        display: none;
    }

    .dropdown-shoes{
        display: none;
    }

    .dropdown-content{
        justify-content: left;
        min-height: 28vh;
        max-height: 28vh;
 
    }

    .dropdown-content .dropdown-links{
        margin-top: 1.5rem;
    }

    .dropdown-brands{
        min-height: 28vh;
        max-height: 28vh;
    }

    .dropdown-content a{
    font-size: 10px;
    font-weight: 300;
    text-align: left;

    }

    .dropdown-brands a{
        font-size: 10px;
        font-weight: 300;
        margin: .3rem;
        text-overflow: ellipsis;
        

    }



}